.modal {
  visibility: hidden;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  transition: visibility 0.5s linear 0.5s, opacity 0.5s linear;
  opacity: 0;
}

.modal_is-opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  background-color: #fff;
  border-radius: 8px;
  max-width: 730px;
  width: 100%;
  padding: 32px 50px;
  position: relative;
  box-sizing: border-box;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  max-width: 40px;
  max-height: 40px;
  background-color: transparent;
  border: none;
  color: #212121;
  opacity: 40%;
}

.modal__close-btn:hover {
  cursor: pointer;
  opacity: 100%;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  line-height: 100%;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  font-size: 16px;
  color: #212121b2;
  margin: 0 0 32px;
}

.modal__input {
  display: block;
  margin: 8px 0 0;
  padding: 16px 12px;
  border-radius: 8px;
  border: #21212166 solid 1px;
  width: 100%;
  font-weight: 500;
  font-size: 20px;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  background-color: #212121;
  color: #fcf5e5;
  max-width: 156px;
  max-height: 52px;
  padding: 18px 58px;
  border-radius: 8px;
}

.modal__submit-btn:hover {
  cursor: pointer;
  background-color: #212121cc;
}

@media screen and (max-width: 630px) {
  .modal__submit-btn {
    max-width: none;
    width: 100%;
  }
}
